section#map {
	height:90vh;
}

#query fieldset {
	display: flex;
	column-gap: 2ex;
}

#query table {
	width:100%;
	border-collapse:collapse;
}

#query th {
	border: thick white solid;
	background: lightgray;
	color: black;
}

#query td {
	border:solid thin;
	text-align:center;
}
