section#map {
	height:90vh;
	height: calc(100vh - 30ex);
}

section#query fieldset {
	display: flex;
	column-gap: 2ex;
}

section#query .grow {
	flex-grow: 1;
}

section#query div#query-control {
	display: flex;
}

section#query > div#query-control > form#query-select {
	display: inline-block;
}

section#query > div#query-control > form#query-load {
	display: inline-block;
}

section#query > div#query-empty {
	margin: 1ex;
	background-color: lightyellow;
	border-style: dashed;
	border-width: thick;
	border-color: black;
	text-align: center;
	font-size: 6ex;
	color: darkblue;
}

section#query > div#query-plot {
	margin-top: 3ex;
	margin-bottom: 2ex;
}

section#query > div#query-plot > div {
	height: 90vh;
	height: calc(100vh - 10ex);
	margin: 1ex;
	border-style: solid;
	border-width: thin;
	padding: 1ex;
}

section#query > table {
	width:100%;
	border-collapse:collapse;
}

section#query th {
	border: thick white solid;
	background: lightgray;
	color: black;
}

section#query td {
	border:solid thin;
	text-align:center;
}
