.dashboard {
	margin: 2ex;
	border: double 8px #FC8;
	border-radius: 4ex;
	padding: 2ex;
	width: calc(100vw - 10ex - 16px);
	background-color: #8AC;
}

.dashboard .nodata {
	text-align: center;
	font-size: 4rem;
	color: #000;
	text-shadow: 2px 2px 4px #FFF;
}

.dashboard .datetime {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: end;
	column-gap: 1.5ex;
	margin: 1ex;
	text-align: center;
	font-size: 5ex;
	color: #CFD;
}

.dashboard .datetime > span:last-child {
	font-size: 0.5em;
	color: #9CA;
}

.dashboard .items {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	column-gap: 3ex;
}

.dashboard .items .item {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	margin: 0.5rem;
	border: solid thin lightyellow;
	padding: 1rem;
	text-align: center;
}

.dashboard .items .item .name {
	font-size: 2rem;
	color: #FED;
}

.dashboard .items .item .value {
	font-size: 3rem;
	color: snow;
}

.dashboard .item .value span {
	font-size: 1.5rem;
}

.download-links {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: center;
}

.download-links a {
	margin: 1ex;
	border: solid thin gray;
	padding: 1ex;
}

.timers {
	text-align: center;
}

.refresh, .report {
	display: inline-block;
	margin: 1ex;
	border: solid thin;
	padding: 1ex;
}

.refresh label, .report label {
	margin-right: 1ex;
}

.refresh button, .report button {
	margin-left: 1ex;
}

.plot {
	width: 100%;
	height: calc(min(90vh, 141vw));
}

table {
	margin-bottom: 3ex;
	border-collapse: collapse;
	width: 100%;
}

caption {
	border-style: solid;
	border-width: thin;
	background-color: darkslateblue;
	color: white;
}

th {
	border-style: solid;
	border-width: thin;
	background-color: darkslategray;
	color: snow;
}

td {
	border-style: solid;
	border-width: thin;
	text-align: center;
	background-color: white;
	color: black;
}

tr:nth-child(odd) td:nth-child(odd) ,
tr:nth-child(even) td:nth-child(even) {
	background-color: whitesmoke;
}
